@import "variables";

/* ---------------------------------------
MIXINS
----------------------------------------- */

@mixin border-radius($size){

-webkit-border-radius: $size;
   -moz-border-radius: $size;
    -ms-border-radius: $size;
     -o-border-radius: $size;
        border-radius: $size;
}

@mixin table-head(){
  background-color: $default-blue;
  color: #fff;
  font-size: 18px;

}