/* ---------------------------------------
VARIABLES
----------------------------------------- */

$default-blue: #22a0cd;
$headingsColor: #666666;
$footer-height: 77px;
$navbarBackground: #00769D;
$navbarBackgroundHighlight: $default-blue;;
$navbarText: #fff;
$navbarLinkColor: #fff; 
